<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/meezan_bank_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/meezan_bank_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meezan_bank_app">
        
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Meezan_bank_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Meezan_bank_app" />
            
        <activity
            android:name=".SendMoneyActivity"
            android:exported="false"
            android:label="Send Money"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".AddBeneficiary"
            android:exported="false"
            android:label="Add Beneficiary"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".SendToNewBen"
            android:exported="false"
            android:label="Send to New Beneficiary"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".EnterAccountDetailsActivity"
            android:exported="false"
            android:label="Enter Account Details"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".AddBenAccountDetailsActivity"
            android:exported="false"
            android:label="Add Beneficiary Details"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".DebitcardActivity"
            android:exported="false"
            android:label="Debit Card"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".ViewStatementActivity"
            android:exported="false"
            android:label="E-Statement"
            android:theme="@style/Theme.Meezan_bank_app" />
        <activity
            android:name=".BillsandTopup"
            android:exported="false"
            android:label="Bills &amp; Top-up"
            android:theme="@style/Theme.Meezan_bank_app" />
    </application>

</manifest>